::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  width: 6px;
}

.jingle-box {
	border: 1pt solid #111;
	border-radius: 1px;
	padding: 3pt;
	width: 90%;
	vertical-align: middle;

}

body {
	font-family: sans-serif;
	padding: 4pt;
	margin: 0pt;
}

button {
	padding: 6pt;
	border-radius: 2px;
	border: #050505 1pt solid;
	cursor: pointer;
}

.play-button:disabled {
	background-color: #353;
	cursor:default;
}

.play-button:enabled {
	background-color: #494;
}

.play-button:enabled:hover {
	background-color: #4f4;
}

.pause-button:disabled {
	background-color: #553;
	cursor:default;
}

.pause-button:enabled {
	background-color: #994;
}

.pause-button:enabled:hover {
	background-color: #ff4;
}

.stop-button {
	background-color: #944;
}

.stop-button:hover {
	background-color: #f44;
}

.eject-button:disabled {
	background-color: #533;
	cursor:default;
}

.eject-button:enabled {
	background-color: #944;
}

.eject-button:enabled:hover {
	background-color: #f44;
}

.DeckButton {
	display: inline;
	padding:3.3pt !important;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 9px;
	padding: 0 5px;
}

.DisplayNone {
	display: none;
}

a.hidden {
	color: inherit;
	text-decoration: inherit;
}

#Decks {
	border: 1pt solid #999;
	margin: 1pt;
	padding: 3pt;
	border-radius: 3px;
	padding-right: 0pt;
}

.deck {
	min-width: 47%;
	display: inline-block;
	border: 1pt solid #ccc;
	padding: 3pt;
	border-radius: 4px;
	font-size: 11pt;
}
